@import 'https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900';
body{
    color: white;
    font-family: "Lato", sans-serif;
    /*margin: 5px 100px 5px 10px;*/
}
.navbar{
    background: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#a6000000", endColorstr="#00000000",GradientType=0 );
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    box-sizing: border-box;
    z-index: 5;
}
.nav-link{
    /*border: 1px solid red;*/
    color: white;
    margin-left: 20px;
}
.nav-link:hover{
    color: red;
}
.nav-link:active{
    color: orangered;
}
/*LOADING ANIMATION*/
/*ADD BUTTON*/
.add-button{
    background: transparent;
    border: none;
}
.add-image{
    width: 30px;
}
/*SEARCH FIELD*/
.search{
    background: transparent;
    color: white;
    outline: none;
}
.search input {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 14px;
    height: 37px;
    width: 20%;
    background: transparent;
    color: #ffffff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    border: 2px solid rgba(245, 245, 241, 0.1);
    outline: none;
    border-radius: 37px;
    padding: 0 10px;
    pointer-events: all;
    transition: border 0.25s ease, width 0.125s ease 0.125s;
}
/*VIDEO-1*/
#myVideo  {
    min-width: 100%;
    min-height: 100%;
}
#myVideo1 {
    min-width: 100%;
    min-height: 100%;
}
#myVideo2 {
    min-width: 100%;
    min-height: 100%;
}
#myVideo3 {
    min-width: 100%;
    min-height: 100%;
}

/*CAROUSEL*/
.carousel-caption{
    margin-bottom: 50px;
    text-align: center;
}
.carousel-caption h5{
    font-size: 3rem;
}
.carousel-caption p{
    font-size: 2rem;
}
.carousel .item{
    height: 100px;
}
.video1{
    height: 100px;
}
.btn-1{
    width: 200px;
}
/*BODY CAROULSE*/
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #000;
}

h1 {
    font-family: Arial;
    color: red;
    text-align: center;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 100%);
    overflow: hidden;
    scroll-behavior: smooth;
}
.wrapper section {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, auto);
    margin: 20px 0;
}
.wrapper section .item {
    padding: 0 2px;
    transition: 250ms all;
}
.wrapper section .item:hover {
    margin: 0 40px;
    transform: scale(1.2);
}
.wrapper section a {
    position: absolute;
    color: #fff;
    text-decoration: none;
    font-size: 6em;
    background: black;
    width: 80px;
    padding: 20px;
    text-align: center;
    z-index: 1;
}
.wrapper section a:nth-of-type(1) {
    top: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, black 100%);
}
.wrapper section a:nth-of-type(2) {
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, black 100%);
}

@media only screen and (max-width: 600px) {
    a.arrow__btn {
        display: none;
    }
}

/*FOOTER*/
.text-small {
    font-size: 0.9rem;
}

a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
a:hover{
    color: red;
}

a:hover, a:focus {
    text-decoration: none;
}

.form-control {
    background: transparent;
    border-color: #545454;

}

.form-control:focus {
    background: transparent;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /*flex-wrap: wrap;*/
    /*border: 1px solid red;*/
    width: 355px;
    height: 200px;
}
.card-body{
    width: 347px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 25px 45px rgba(0,0,0,0.2);
    border: 2px solid rgba(255,255,255,0.5);
    border-right: 2px solid rgba(255,255,255,0.2);
    border-bottom: 2px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);
}

